@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('http://fonts.cdnfonts.com/css/north-coast'); */




@tailwind base;
@tailwind components;
@tailwind utilities;
@import './embla.css';


@layer base{
  @font-face {
    font-family: 'North Coast';
    font-style: normal;
    font-weight: 400;
    src: local('North Coast'), url('https://fonts.cdnfonts.com/s/46894/North Coast.woff') format('woff');
}
@font-face {
    font-family: 'North Coast';
    font-style: normal;
    font-weight: 400;
    src: local('North Coast'), url('https://fonts.cdnfonts.com/s/46894/North Coast Italic.woff') format('woff');
}

}


@layer utilities{
  
  *{
    transition:all .3s;
  }
  body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background: #5541D9;
    border-radius: 100vh;
    border: .5px solid black;
  }
  body::-webkit-scrollbar-track {
    background: #110B57;
  }
  
    .left-container::before{
      content: "";
      position: absolute;
      left: -12px;
      top: 77px;
      height: 22px;
      width: 22px;
      background: #a99df9;
      border-radius: 50%;
    }
    .left-container::after{
    content: "";
    position: absolute;
    left: -2px;
    top: 78px;
    height: 100%;
    width: 1px;
    border-left: 2.66068px solid #a99df9;
} 
.right-container::before{
  content: "";
  position: absolute;
  right: -10px;
  top: 77px;
  height: 22px;
  width: 22px;
  background: #a99df9;
  border-radius: 50%;
}
.right-container::after{
  content: "";
  position: absolute;
  right: 0;
  top: 78px;
  height: 100%;
  width: 1px;
  border-left: 2.66068px solid #a99df9;
}
.last-item::after{
  display:none;
}
@media (max-width:767px){

  .right-container::before{
    left: -10px;
  }
  .right-container::after{
    left: 0;
  }
}
  
}
@layer{
  audio::-webkit-media-controls-panel {
    background-color:  #A99DF9;
    
  }
  audio{
    width: 100%;
    height: 2.5rem;
  }

  .twitter-sec iframe {
    width: 100% !important;
  }

}